<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Display Router Product Info">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </head>

	<body>
	<div class="container">
		<h1 id="product_info">Product Info</h1>

		<p>
			<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Value</td>
				</tr>
			</thead>
			<tbody>
				{% for k in product_info %}
				{% if isinstance(product_info[k], str) %}
				<tr>
					<td>{{ escape(k) }}</td>
					<td>{{ escape(product_info[k]) }}</td>
				</tr>
				{% end %}
				{% end %}
			</tbody>
			</table>
		</p>

		<h2>Manufacturing Info</h2>
		<p>
			<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Value</td>
				</tr>
			</thead>
			<tbody>
				{% for k in product_info['manufacturing'] %}
				{% if isinstance(product_info['manufacturing'][k], str) %}
				<tr>
					<td>{{ escape(k) }}</td>
					<td>{{ escape(product_info['manufacturing'][k]) }}</td>
				</tr>
				{% end %}
				{% end %}
			</tbody>
			</table>
		</p>

	</div>

	</body>
</html>
