{% include header.html %}

	<body>
	<div class="container">
		<h1 id="wifi">Router WiFi</h1>
		<h3>{{ timestamp }} </h3>

		<h2>Radios</h2>
		<!-- https://getbootstrap.com/docs/5.1/components/card/#card-groups -->
		<div class="card-group">
			{% for radio in analytics['radio'] %}
			<div class="card">
				<div class="card-header">
					{{ escape(radio['band_name']) + " on " }}
					<a href="radio?radio={{ radio['name'] + "&" + request.query }}">{{escape(radio['name']) + " " + escape(radio['macaddr']) }}</a>
				</div>
				<!-- <div class="card-body text-primary">  -->
				<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<table class="table table-striped">
					<tbody>
						<tr>
							<td>Channel</td>
							<td>{{ radio.get('channel') or 0 }}</td>
						</tr>
						<tr>
							<td>Channel Contention</td>
							<td>{{ radio['contention'] }}%</td>
						</tr>
						<tr>
							<td>TX Power</td>
							<td>{{ radio['txpower'] }}% </td>
						</tr>
						<tr>
							<td>Channel Locked</td>
							<td>{{ "True" if radio['locked'] else "False" }}</td>
						</tr>
						<tr>
							<td>Smart Selection</td>
							<td>{{ "True" if radio['smart'] else "False" }}</td>
						</tr>
						<tr>
							<td>Number of Clients</td>
							<td>{{ radio['client_count'] }}</td>
						</tr>
						<tr>
							<td>TX Packets</td>
							<td>{{ radio['tx_packets'] }}</td>
						</tr>
						<tr>
							<td>TX Bytes</td>
							<td>{{ radio['tx_bytes'] }}</td>
						</tr>
						<tr>
							<td>TX Error</td>
							<td>{{ radio['tx_err'] }}</td>
						</tr>
						<tr>
							<td>RX Packets</td>
							<td>{{ radio['rx_packets'] }}</td>
						</tr>
						<tr>
							<td>RX Bytes</td>
							<td>{{ radio['rx_bytes'] }}</td>
						</tr>
						<tr>
							<td>RX Err</td>
							<td>{{ radio['rx_err'] }}</td>
						</tr>
					</tbody>
					</table>
				</li>
			</div> <!-- end class="card" -->
			{% end %}
		</div> <!-- end class="card-group" -->
		<h2>BSS</h2>
		<div class="card-group">
			{% for radio in analytics['radio'] %}
			<div class="card">
				<div class="card-header">
					{{ "VAPs on Radio " + escape(radio['band_name']) + " on " }}
					<a href="radio?radio={{ radio['name'] + "&" + request.query }}">{{escape(radio['name']) + " " + escape(radio['macaddr']) }}</a>
				</div>
				<!-- <div class="card-body text-primary">  -->
				<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<table class="table table-striped">
					<thead>
						<tr>
							<td>Interface</td>
							<td>BSSID</td>
							<td>SSID</td>
							<td>Security</td>
							<td>Network</td>
							<td>Clients</td>
						</tr>
					</thead>
					<tbody>
						{% for vap in radio['bss'] %}
						<tr>
							<td>{{ escape(vap['name']) }} </td>
							<td>
								<a href="bss?radio={{ radio['name'] }}&bssid={{ escape(vap['bssid']) + "&" + request.query }}">{{ escape(vap['bssid']) }}</a> 
							</td>
							<td>
								{{ vap.get('ssid') or "(unknown/invalid)" }}
							</td>
							<td> {{ escape(vap.get('security', "??")) }} </td>
							<td> {{ escape(vap.get('network', "??")) }} </td>
							<td> {{ len(vap['clients']) }}  </td>
						</tr>
					 	{% end %}
					</tbody>
					</table>
				</li>
				</ul>
				<!-- </div> -->
			</div>
			{% end %}
		</div>
		<h2>WiFi-WANs</h2>
		<div class="card-group">
			{% for radio in analytics['radio'] %}
			<div class="card">
				<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<table class="table table-striped">
						<tr>
							<td>Interface</td>
							<td>BSSID</td>
							<td>SSID</td>
						</tr>
					</thead>
					<tbody>
						{% for vap in radio.get('wwan', []) %}
						<tr>
							<td>{{ escape(vap['name']) }} </td>
							<td>
								<a href="bss?radio={{ radio['name'] }}&bssid={{ escape(vap['bssid']) + "&" + request.query }}">{{ escape(vap['bssid']) }}</a> 
							</td>
							<td>
								{{ vap.get('ssid') or "(unknown/invalid)" }}
							</td>
						</tr>
					 	{% end %}
					</tbody>
					</table>
				</li>
				</ul>
			</div>
			{% end %}
		</div>

		<!-- table of all clients -->
		<h2>All Clients</h2>
		<table class="table table-striped">
		<thead>
			<tr>
				<td>macaddr</td>
				<td>AP</td>
				<td>Vendor</td>
			</tr>
		</thead>
		<tbody>
		{% for radio in analytics['radio'] %}
			{% for bss in radio['bss'] %}
				{% for client in bss['clients'] %}
					<tr>
						<td><a href="client?radio={{escape(radio['name']) + '&bssid=' + bss['bssid'] + '&macaddr=' + client['macaddr'] + '&' + request.query }}">{{ client['macaddr'] }} </a></td>
						<td>{{ escape(radio['band_name']) + " on " + escape(radio['name']) + " " + escape(bss['name']) }} </td>
						<td>{{ client['vendor'] }}</td>
					</tr>
				{% end %}
			{% end %}
		{% end %}
		</tbody>
		</table>
	</div> <!-- end container -->

	<script src="/js/d3.js"></script>
	<script src="/js/graph.js"></script>
	<script src="/js/wifi.js"></script>
	</body>
</html>


